<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.androidbootcamp.techgadgetsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScufActivity" android:label="Scuf Prestige Xbox Controller" />
        <activity android:name=".MonitorActivity" android:label="Asus MG278Q 27&quot; Monitor" />
        <activity android:name=".MonitorStandActivity" android:label="NB North Bayou Dual Monitor Desk Mount Stand" />
        <activity android:name=".XboxActivity" android:label="Xbox Series X" />
        <activity android:name=".PcActivity" android:label="Gamer Infinity 8800 Pro SE" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>